* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.head {
  background-color: #43372E;
  padding: 60px 40px 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  height: 35px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  font-size: 32px;
  color: #F1CDB3;
  margin: 0 0 10px 0;
}

.subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  height: 15px;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin: 0;
}

a {
  text-decoration: none;
}

.links a {
  font-family: arial;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  margin: 0 35px 80px 0;
  position: relative;
}

.links a:last-child {
  margin-right: 0;
}

.links .active {
  color: #FAFAFA;
}

.links .active::after,
.links a:hover::after {
  content: '';
  display: block;
  background-color: #F1CDB3;
  width: 96%;
  height: 3px;
  position: absolute;
  left: 2%;
  top: 115%;
}

.headerh1 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  max-width: 310px;
}

.headerp {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  max-width: 460px;
}

.button {
  background: #F1CDB3;
  border-radius: 100px;
  padding: 15px 45px;
  border: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
}

.about {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
}

.info p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.banner {
  display: flex;
  align-items: center;
}

.ban-content {
  max-width: 460px;
}

.banner img {
  margin: 80px 0 0 42px;
}

.ban-content button {
  margin-top: 42px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 100px;
  justify-content: center;
}

.info-content {
  margin-left: 120px;
}

.info p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  max-width: 430px;
  margin-bottom: 25px
}

.catalog {
  background-color: #F6F6F6;
  display: flex;
  flex-wrap: wrap;
}

.pets {
  display: flex;
  justify-content: space-between;
  margin: 0 90px 0 90px;
  padding: 0 55px;
  width: 100%;
}

.block-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  max-width: 400px;
}

.block-title.white {
  color: #FFFFFF;
}

.petcard a {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  text-decoration: none;
  color: #292929;
  border: 3px solid #F1CDB3;
  border-radius: 100px;
  display: inline-block;
  padding: 12px 47px;
  margin: 30px;
}

.petcard p {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin: 30px 0;
}

.petcard {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemsrow {
  display: none;
  justify-content: space-around;
  padding: 0 80px;
}

.itemsrow p {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
}

.help {
  max-width: 1280;
  max-height: 611px;
}

.donation {
  display: flex;
  background-color: #F6F6F6;
  max-width: 1280px;
  padding-top: 80px;
  padding-bottom: 100px;
  gap: 30px;
  justify-content: center;
}

.donation .inform {
  display: flex;
  flex-direction: column;
  width: 380px;
  gap: 20px;
}

.label_serif {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  color: #545454;
}

.donation .inform .phone_number {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: auto;
  padding: 10px 15px;
  border-radius: 9px;
  background: #F1CDB3;
}

.donation .inform .phone_number {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  max-width: 349px;
  margin: 0;
}

.donation .inform .lorem {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  max-width: 380px;
}

.bottom {
  display: flex;
  background-color: #43372E;
  padding-top: 40px;
  justify-content: center;
}

.brown-parag {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #F1CDB3;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
}








/* helpers */
.d-block {
  display: block !important;
}
.my-0 {
 margin-top: 0;
 margin-bottom: 0;
}

.mb-24 {
  margin-bottom: 24px;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.py-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.tac {
  text-align: center;
}

/*-- helpers */